#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @FOOTER_HEIGHT;
  z-index: 100;
  height: auto;
  background-color: #123e57;
  border-top: 6px solid #8c8686;
  border-bottom: none;

  > .container > div {
    margin: 5px auto 0;
    text-align: center;
  }

  .container {
    font-size: 85.714%;  /* 12px/13px */
    padding:15px 0;
    color: #97abb6;
  }

  &.relative {
    position: relative;
  }

  a,
  a:link,
  a:visited {
    color: #c2cfd5;
  }

  a:hover {
    color: #c2cfd5;
  }
}
