#header {

  &.navbar-static-top {
    z-index: auto;
  }

  nav.navbar-collapse {
    border-bottom: solid 1px #ececec;
    outline: none;
  }

  i.fa.stock-icon {
    text-indent: 0;
  }

  .MyProjects {
    background: #337ab7;
  }

  .MyProjects__label {
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
  }
}

.navbar-brand {
  background:url(/src/images/logo-GDC-data-portal.png) no-repeat 10px 7px;
  background-size: 100%;
  width: 275px;
  height: 47px;
  text-indent:-10000px;
  overflow:hidden;
  margin-right:0;
}
